html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin:0;
}

h1, h2{
	font-family: 'Anton', sans-serif;
}

.navbar-brand{
font-family: 'Anton', sans-serif;
font-weight: 500;
text-shadow: 2px 2px 2px #333;	
}

.hero{
    height: 93.7vh;
    /*background: url(../images/students.jpg);*/
    font-family: 'Lato', 'Raleway', sans-serif;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    /*height: 100vh;*/
}

.hero #block{
	margin-top: 50px;
}

.hero h1{
	font-size: 75px;
    font-weight: 700;
    text-shadow: 2px 2px 20px #000;
    display: inline-block;
}

.hero p{
	font-size: 35px;
}

.hero img{
    display: inline-block;
    width: 125px;
    padding-bottom: 5px;
}


.centered{
text-align: center;
color: #fff;
position: absolute;
bottom: 0;
right: 25px;
}

.registerBox{
	display: block;
}

/*About Section*/

#about-section{
    padding-top: 10px;
	background: #e9e9e9;
	padding-bottom: 25px;
}

.ab, .cont{
	    padding: 30px 140px;
}

#about-section h2, #category h2, #contact h2{
	color: #f95a4d; 
	padding-bottom: 50px;
	padding-left: 75px;
	font-size: 70px;
	margin-top: 10px;
}

#about-section p{
	text-align: center;
	font-size: 20px;
}

#about-section p#quoted{
	padding-top: 30px;
}

#about-section #quoted #left-quote img{
	padding-right: 10px;
    margin-left: -75px;
}

#about-section #quoted #right-quote img{
	    margin-right: -75px;
    padding-left: 10px;
}

/* Category Section */

.cat{
	padding: 30px 200px;
	padding-bottom: 60px;
}

.cat h2{
	padding-bottom: 20px;
}

#category .info{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding:10px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
}

#category .info p{
	position: relative;
	 -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -webkit-transition: all 0.25s 0.3s linear;
  -moz-transition: all 0.25s 0.3s linear;
  transition: all 0.25s 0.3s linear;
  /*Edited*/
  position: absolute;
  top: 20%;
  padding: 10px;
}


#category .sec1, #category .sec2{
		border-right: 1px solid #f95a4d;
}

#category hr{
	border-top: 1px solid #f95a4d;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -15px;
	margin-right: -14px;
}
#category p{
	padding-top: 30px;
	font-size: 18px;
}

#category .img p{
    font-size: 24px;
}

#category .col-md-4{
	text-align: center;
	padding: 30px;
	vertical-align: middle;
	overflow: hidden;
}

/* Hover Effect */


#category .col-md-4:hover img{
	    opacity: 0.02;
}


#category .col-md-4:hover{
	background: rgba(215, 217, 218, 0.6);
	color: #f95a4d;
}

#category .col-md-4:hover .info {
    visibility: visible;
    opacity: 1;
    transition: all 0.35s ease-in-out;
    color: #000;
}

#category .col-md-4:hover .info p{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#about-sec{
	padding-top: 75px;
	padding-bottom: 150px;
	background-color: #F1F0EE;
	text-align: center;
}

#about-sec h3{
	font-size: 32px;
}

#about-sec p>a{
text-decoration: none;
color: #555;
-webkit-transition: all 0.25s linear;
-moz-transition: all 0.25s linear;
-ms-transition: all 0.25s linear;
-o-transition: all 0.25s linear;
transition: all 0.25s linear;
}

#about-sec p>a:hover{
    color: #e74c3c;
}

#people {
	margin-bottom: -300px;
}

#people img{
	width: 100%;
	position: relative;
	bottom: 75px;
}

#people h2{
	font-size: 35px;
}

#people .pinfo{
	background-color: #dc2d34;
	position: relative;
	bottom: 50%;
	padding: 50px;
	color: #fff;
    bottom: 590px;
    width: 65%;
    margin: 0 auto;
    opacity: 0.9;
}

 #people .pinfo p>a {
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 10px 16px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#people .pinfo p>a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

/*Contact*/

#contact {
    background: #e7e7e7;
    padding-top: 75px;
    padding-bottom: 100px;
}

#contact .form-control {
    background: transparent;
    border-color: transparent;
    border-radius: 0;
    width: 100%;
}

#contact.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
    border: none;
    border-bottom: 4px solid #fff !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
    padding: 15px 12px;
}

textarea:focus, input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
textarea:hover, input:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
    outline: none;
    /*
  border:none;*/
    border-bottom: 4px solid #f95a4d !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
}

textarea {
    resize: none;
}

#contact p {
    font-size: 20px;
}

#contact .detail {
    margin-top: 30px;
}

#contact p#info {
    padding-left: 100px;
    padding-right: 100px;
}

#contact .form-inline .col-md-4 {
    padding: 0;
    margin: 0;
}

#contact .cont {
    margin-top: 50px;
    padding: 0 30px;
}

#contact .col-md-2 i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#contact .col-md-2:hover i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#contact .col-md-10 p {
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#contact .col-md-10 p:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    overflow: hidden;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/*Content*/

#content{
	background: #f1f0ee;
	    box-shadow: 1px 1px 10px #999;
    margin: 30px 20px 30px 20px;
}

#content .container{
	/*background: #f1f0ee;*/
	padding:20px 40px;
}

#content .list{
	padding: 20px;
}

#content h4{
	text-transform: uppercase;
	/*font-weight: 300;*/
	font-size: 20px;
}

#content .list ul{
	list-style: none;
	padding: 0;
}

#content .list ul li>a{
	text-decoration: none;
    color: #111;
}

#content .list ul li>a:hover{
	color: #e74c3c;;
}

#content span>p{
	font-family: 'Kaushan Script', cursive;
}

#content .newsletter span{
	display: inline-flex;
}

#content .newsletter span p{
	margin-top: 10px;
	padding-left: 5px;
}

#content .newsletter form .form-control{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;/*
	border: 2px solid;*/
}

.social-links{
	padding-top: 50px;
}

.social-links a{
	text-decoration: none;
}

.social-links .blog{
	float: right;
	position: relative;
    bottom: 80px;
}

#content .social-links h4.blog{
	text-transform: lowercase;
}

.social-icon a{
	color: #333;
	margin-right: 10px;
	text-decoration: none;
	-webkit-transition: all 0.05s ease-in-out;
	-moz-transition: all 0.05s ease-in-out;
	-ms-transition: all 0.05s ease-in-out;
	-o-transition: all 0.05s ease-in-out;
	transition: all 0.05s ease-in-out;
}

.social-icon a>i:hover{
color: #3B5998;
}

footer{
	padding: 35px 0;
}

footer a:hover, footer a:focus{
	color: #e74c3c;
	text-decoration: none;
}

footer .left-fut{
	text-align: left;
}

footer .right-fut{
	text-align: right;
}

/*Responsiveness*/

@media (max-width: 1199px) {
	.cat{
		padding: 30px 100px;
	}
}

@media (max-width: 991px) {

    #about .ab{
    	margin: 0 auto;
    	padding: 20px 75px;
    }

    #about h2{
    	padding-bottom: 25px;
    	margin-top: 25px;
    }


	#category .col-md-4{
		border: 1px solid #f95a4d;
	}

	#category .col-md-4{
		margin: 45px;
	}

	#category hr{
		display: none;
	}

    #category .cat{
		padding: 30px 130px;
	}

	#contact .form-inline .form-group{
		display: block;
		margin-bottom: 15px;
	}

	#contact .cont{
		margin-top: 0;
	}

	#contact .detail {
    margin-bottom: 45px;
    text-align: center;
	}

	#content{
    margin: 0;
	}

	footer .left-fut{
	text-align: center;
	}

	footer .right-fut{
		text-align: center;
	}

}

@media (max-width: 767px) {

	.front #disp{
		margin-top: 75px;
	}

	#about #quoted #right-quote img, #about #quoted #left-quote img {
    width: 8%;
	}

	#category .sec3{
		margin-bottom: 0;
	}

	#category .cat{
		margin-bottom: 45px;
	}

		#people{
		margin-bottom: 0;
	}

	#people .pinfo{
		padding: 50px;
		bottom: 40px;
		text-align: center;
	}

	#content{
    padding: 0 50px;
    margin: 0;
	}

	.social .blog {
    bottom: 60;
	}
}

@media (max-width: 680px) {

    #about p {
    font-size: 18px;
	}

	#about #quoted #left-quote img {
    margin-left: -50px;
	}

	#category .cat{
		padding: 30px 90px;
	}

}

@media (max-width: 480px) {

	#about p {
    text-align: justify;
	}

    #about h2{
    	text-align: center;
    	padding-left: 0;
    }

	#about .ab {
    padding: 20px 40px;
	}

	#about #quoted #left-quote img {
    margin-left: -30px;
	}

	#about #quoted #right-quote img, #about #quoted #left-quote img {
    width: 10%;
	}

	#category .cat {
    padding: 30px 60px;
	}

	#category img{
		width: 100%;
	}

	.cat h2, #portfolio h2{
		text-align: center;
		padding-left: 0;
		padding-bottom: 0;
	}

	#category p {
    padding-top: 20px;
    font-size: 18px;
	}

	#category .info p{
		font-size: 18px;
	}

}

@media (max-width: 400px) {

	#about .ab {
    padding: 10px 30px;
	}

	#about p {
    font-size: 16px;
	}

	#about #quoted #right-quote img, #about #quoted #left-quote img {
    width: 15%;
	}

	h2{
		font-size: 32px;
	}

	#category .cat {
    padding: 20px 30px;
	}

	#category .col-md-4{
		padding: 15px;
	}

	#category .info p {
    font-size: 14px;
	}

	#category .info p{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
	}

}

@media (max-width: 320px) {

	#about #quoted #left-quote img {
    margin-left: -20px;
	}

	#category .col-md-4 {
    margin: 40px;
	}

	#category .sec3{
		margin-bottom: 0;
	}

	#category p{
		font-size: 16px;
	}
}